### EDA of Apr 2021 kaggle TPS

[Data dictionary](https://www.kaggle.com/c/tabular-playground-series-apr-2021/data?select=train.csv)

In [1]:
import numpy as np
import pandas as pd

In [4]:
df = pd.read_csv("../data/train.csv")
df.head

<bound method NDFrame.head of        PassengerId  Survived  Pclass                Name     Sex    Age  \
0                0         1       1    Oconnor, Frankie    male    NaN
1                1         0       3         Bryan, Drew    male    NaN
2                2         0       3      Owens, Kenneth    male   0.33
3                3         0       3       Kramer, James    male  19.00
4                4         1       3       Bond, Michael    male  25.00
...            ...       ...     ...                 ...     ...    ...
99995        99995         1       2         Bell, Adele  female  62.00
99996        99996         0       2       Brown, Herman    male  66.00
99997        99997         0       3  Childress, Charles    male  37.00
99998        99998         0       3    Caughlin, Thomas    male  51.00
99999        99999         0       3       Enciso, Tyler    male  55.00

       SibSp  Parch     Ticket   Fare   Cabin Embarked
0          2      0     209245  27.14  C12239        S
1          0      0      27323  13.35     NaN        S
2          1      2  CA 457703  71.29     NaN        S
3          0      0   A. 10866  13.04     NaN        S
4          0      0     427635   7.76     NaN        S
...      ...    ...        ...    ...     ...      ...
99995      0      0   PC 15008  14.86  D17243        C
99996      0      0      13273  11.15     NaN        S
99997      0      0        NaN   9.95     NaN        S
99998      0      1     458654  30.92     NaN        S
99999      0      0     458074  13.96     NaN        S

[100000 rows x 12 columns]>

In [9]:
df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,100000.000000,100000.000000,100000.000000,96708.000000,100000.000000,100000.000000,99866.00000
mean,49999.500000,0.427740,2.106910,38.355472,0.397690,0.454560,43.92933
std,28867.657797,0.494753,0.837727,18.313556,0.862566,0.950076,69.58882
min,0.000000,0.000000,1.000000,0.080000,0.000000,0.000000,0.68000
25%,24999.750000,0.000000,1.000000,25.000000,0.000000,0.000000,10.04000
50%,49999.500000,0.000000,2.000000,39.000000,0.000000,0.000000,24.46000
75%,74999.250000,1.000000,3.000000,53.000000,1.000000,1.000000,33.50000
max,99999.000000,1.000000,3.000000,87.000000,8.000000,9.000000,744.66000